.App {
  display: grid;
}
.user{
  background-image: linear-gradient(rgba(66, 66, 66, 0.233), rgba(255, 255, 255, 0.527));
  height: 300px;
  width: 400px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
.user img{
  border: 5px solid whitesmoke;
  border-radius: 5px;
}
